@font-face {
    font-family: "Corbel";
    src: url("../fonts/corbel.ttf");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: corbel, Arial;
    font-size: 16px;
}
  