nav{
  width: 100%;
  background-color: #0c2596cc;
  height: 4rem;
  position: absolute;
  top: 0;
  z-index: 1;
}

.branding{
  background-image: url(../img/logo-off.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 7rem;
  width: 15rem;
  position: absolute;
  top: 200%;
  left: 5%;
  /* transform: translateX(-50%); */
  /* z-index: 8; */
  opacity: 1;
}

.nav-ribbon{
  width: 100%;
  height: 0.5rem;
  background-color: #a6afddcc;
  content: "";
}

.nav-content-wrapper{
  position: absolute;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50% , -50%);
}

.nav-button{
  font-size: 1rem;
  height: 2rem;
  width: 10rem;
  margin: 0em 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #2846c9; */
  flex-grow: 1;
  text-decoration: none;
  margin: 0 0.5rem;
  color: #fff;
  font-weight: 600;
}

.carousel{
  background-color: #a6afdd ;
  height: 50rem;
  width: 100%;
  background-image: url(../img/arvores-04.png);
  background-size: cover;
  position: relative;
}

.carousel-panel{
  position: absolute;
  display: inline-flex;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%,0%);
}

.carousel i{
  margin: 0.5rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  z-index: 2;
  text-decoration: none;
}

.slide-01{}
.slide-02{}
.slide-03{}
.slide-04{}

.book-now{
  height: 8rem;
  width: 100%;
  background-color: #0c2596;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input{
  height: 2rem;
  width: 20rem;
  margin-right: 1rem;
  text-overflow: ellipsis;
}

.submit{
  background-color: #fff;
  color: #051766;
  height: 2rem;
  width: 6rem;
  font-weight: bold;
}

.body{
  height: 108rem;
  width: 100%;
  position: relative;
  color: #051766;

}

.body-wrapper{
  width: 1000px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.title{
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  text-align: center;
  width: 100%;
  /* margin-bottom: 1rem; */
}

.book-now .title{
  margin: 0 0 0.5rem 0;
}

.body-wrapper-disclaimer{
  /* height: 15rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text{
  font-size: 1.1rem;
  font-weight: 400;
  display: block;
  text-align: center;
  width: 50rem;
  line-height: 1.8rem;
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
}

.see-more-container{
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.see-more{
  font-size: 0.8rem;
  font-weight: bold;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  margin: 1rem 0;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
}

.container-wrap{
  padding: 2rem 0;
  position: relative;
  margin: 2rem 0;
}

.body-wrapper-amenities{
  background-color: #a6afdd49;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.amenities-container{
  display: flex;
  flex-direction: row;
  width: 90%;
}

.amenities{
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1rem;
  /* border-style: solid; */
  /* border-width: 2px; */
  /* border-color: #051766; */
  flex-grow: 1;
  align-items: center;
  justify-content: top;
  text-align: center;
  padding: 0.5rem;
  border-radius: 20px;
}

.amenities i{
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.room-container{
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
}

.room{
  margin: 0rem 1rem;
  flex-grow: 1;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}

.room .img{
  height: 10rem;
  width: 100%;
  /* margin: 1rem 1rem; */
  background-image: url(../img/arvores-04.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: bisque; */
}

.room .sub{
  margin-top: 0.3rem;
  font-size: 1.2rem;
  font-weight: bold;
}


.body-wrapper-location iframe{
  width: 100%;
}

footer{
  /* height: 15rem; */
  background-color: #0c2596;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1rem;
}

.footer-wrapper{
  width: 1000px;
}

.footer-icons{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.footer-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

.footer-icon{
  width: 100%;
  flex-grow: 1;
  margin: 1rem 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.footer-icon i{
  font-size: 2rem;
  opacity: 0.6;
  margin-bottom: 1rem;
}

.copyright{
  text-align: center;
  opacity: 0.6;
  font-size: 0.8rem;
  margin: 1rem 0;
}

/* 
#000f52 - BG COLOR AZUL MARINHO 
#0c2596 - Azul royal  
#fff

LAYOUT FEITO EM 1450PX  

@media screen and (max-width: 1800px){
  .navbar-content{
      width: 1420px;
  }
}

@media screen and (max-width: 1450px){
  .navbar-content{
      width: 1000px;
  }
}

@media screen and (max-width: 1000px){
  .navbar-content{
      width: 700px;
  }
}

@media screen and (max-width: 767px){
  .navbar-content{
    width: 700px;
}
}