.branding{
  background-image: url(../img/logo-off.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 7rem;
  width: 15rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 8;
  opacity: 1;
}

.branding-shadow{
  background-image: url(../img/logo-off.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 7rem;
  width: 15rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 7;
  opacity: 1;
  filter: blur(20px) brightness(-100%) opacity(95%);
}

.carousel{
  background-color: #a6afdd ;
  height: 50rem;
  width: 100%;
  background-image: url(../img/Home-carousel/Blue\ Mountain\ Hotel.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  backface-visibility: hidden;
  animation-name: Slideshow;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-duration: 30s;
}

@keyframes Slideshow {
  0%{
    background-image: url(../img/Home-carousel/Blue\ Mountain\ Hotel.jpg);
  }
  5%{
    background-image: url(../img/Home-carousel/Blue\ Mountain\ Hotel.jpg);
  }
  10%{
    background-image: url(../img/Home-carousel/Blue\ Mountain\ Restaurant.jpg);
  }
  25%{
    background-image: url(../img/Home-carousel/Blue\ Mountain\ Restaurant.jpg);
  }
  30%{
    background-image: url(../img/Home-carousel/Blue\ Mountain\ Spa.jpg)
  }
  45%{
    background-image: url(../img/Home-carousel/Blue\ Mountain\ Spa.jpg)
  }
  50%{
    background-image: url(../img/Home-carousel/Blue\ Mountain\ Spa\ Resort.jpg)
  }
  65%{
    background-image: url(../img/Home-carousel/Blue\ Mountain\ Spa\ Resort.jpg)
  }
  70%{
    background-image: url(../img/Home-carousel/Blue\ Mountain\ Restaurant\ Tables.jpg)
  }
  85%{
    background-image: url(../img/Home-carousel/Blue\ Mountain\ Restaurant\ Tables.jpg)
  }
  90%{
    background-image: url(../img/Home-carousel/Blue\ Mountain\ Hotel.jpg);
  }
}

/* .carousel-panel{
  position: absolute;
  display: inline-flex;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%,0%);
}

.carousel i{
  margin: 0.5rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  z-index: 2;
  text-decoration: none;
} */

/* .slide-01{}
.slide-02{}
.slide-03{}
.slide-04{} */

.book-now{
  height: 8rem;
  width: 100%;
  background-color: #0c2596;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input{
  height: 2rem;
  width: 20rem;
  margin-right: 1rem;
  padding: 0 1rem;
  text-overflow: ellipsis;
}

.submit{
  background-color: #fff;
  color: #051766;
  height: 2rem;
  width: 6rem;
  font-weight: bold;
}

.body{
  height: 108rem;
  width: 100%;
  position: relative;
  color: #051766;

}

.body-wrapper{
  width: 1000px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.title{
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  text-align: center;
  width: 100%;
}

.book-now .title{
  margin: 0 0 0.5rem 0;
  font-size: 1.3rem;
}

.body-wrapper-disclaimer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text{
  font-size: 1.1rem;
  font-weight: 400;
  display: block;
  text-align: center;
  width: 50rem;
  line-height: 1.8rem;
}

.see-more-container{
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.see-more{
  font-size: 0.8rem;
  font-weight: bold;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  margin: 1rem 0;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
}

.see-more:hover{
  background-color: #051766;
  color: #fff;
  border-radius: 8px;
  transition: 0.3s;
  border-width: 2px;
}

.container-wrap{
  padding: 2rem 0;
  position: relative;
  margin: 2rem 0;
}

.body-wrapper-amenities{
  background-color: #a6afdd49;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.amenities-container{
  display: flex;
  flex-direction: row;
  width: 90%;
}

.amenities{
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1rem;
  flex-grow: 1;
  align-items: center;
  justify-content: top;
  text-align: center;
  padding: 0.5rem;
  border-radius: 20px;
  cursor: default;
}

.amenities:hover i{
  animation-name: little-shake;
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
}

.amenities i{
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.room-container{
  display: flex;
  flex-direction: row;
}

.room{
  margin: 0rem 1rem;
  flex-grow: 1;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.room .img:hover{
  opacity: 0.7;
  transition: 0.25s;
}

.room .img{
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.room .sub{
  margin-top: 0.3rem;
  font-size: 1.2rem;
  font-weight: bold;
}

#room01{
  background-image: url(../img/Hotel-imgs/Chale-6-pessoas.jpg);
}

#room02{
  background-image: url(../img/Hotel-imgs/Chale-4-pessoas.jpg);
}

#room03{
  background-image: url(../img/Hotel-imgs/Chale-2-pessoas.jpg);
}

#room04{
  background-image: url(../img/Hotel-imgs/Chale-1-pessoa.jpg);
  background-position: bottom;
}