@font-face {
  font-family: "Corbel";
  src: url("../fonts/corbel.ttf");
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: corbel, Arial;
  font-size: 16px;
  position: relative;
  overflow-y: auto;
  background-color: #000f52;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  position: absolute;
}

.parallax .object-wrapper {
  bottom: 0;
  left: 0;
}

.parallax::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.parallax .object {
  left: 0;
}

.parallax .object-1-bg {
  background-image: linear-gradient(to bottom,  rgba(52,75,148,1) 0%, rgba(150,150,255,1) 51%, rgba(0,94,194,1) 100%);
  height: 150vh;
}

.parallax .object-2-bg {
  transform: translateY(16%);
  opacity: .3;
}

.parallax .object-3-bg {
  transform: translateY(-5%);
  opacity: .3;
}

.parallax .object-4-bg {
  transform: translateY(-78%);
  opacity: .1;
}

.parallax .object-5-bg {
  transform: translateY(-616%);
  height: 30rem;
}

.parallax .object-6-bg {
  position: absolute;
  transform: translate(-50% ,-485%);
  left: 50%;
}

.parallax .object-1 {
  transform: translateY(-25%);
}

.parallax .object-2 {
  transform: translateY(-55%);
}

.parallax .object-3 {
  transform: translateY(-80%);
}

.parallax .object-4 {
  transform: translateY(-201%);
}

.parallax .object-5 {
  transform: translateY(-390%);
  height: 30rem;
}

.parallax .speed-1 {
  transform: translateZ(-6px) scale(7);
}

.parallax .speed-2 {
  transform: translateZ(-5px) scale(6);
}

.parallax .speed-3 {
  transform: translateZ(-4px) scale(5);
}

.parallax .speed-4 {
  transform: translateZ(-3px) scale(4);
}

.parallax .speed-4 {
  transform: translateZ(-2px) scale(3);
}

.parallax .speed-5 {
  transform: translateZ(-1px) scale(2);
}

#logo-off{
  width: 27rem;
}
.cloud{
  opacity: 0.05 !important;
  -webkit-filter: blur(15px);
  filter: blur(15px); 
  filter: saturate(500%);
}

#landing-content{
  position: absolute;
  color: #fff;
  height: 100vh;
}

.parallax .page-content {
  position: absolute;
  transform: translateY(-178%) translateZ(-1px) scale(2);
  z-index: 20;
  width: 100vw;
  height: 100rem;
  background-color: #000f52;
  content: 'pipiu';
  color: #fff;
}

.parallax .page-content .page-content-landing{
  position: absolute;
  top: 99.5rem;
  width: 100vw;
  height: 100vh;
  background-color: #000f52;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-content-landing-branding{
  background-image: url(../img/logo-off.png);
  width: 11rem;
  height: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 1rem;
  left: 3rem;
}

.cursive{
  font-family: 'Engagement', cursive;
  display: inline-block;
  font-size: 5rem;
  font-weight: 100;
}

h1{
  font-size: 3rem;
  width: 18rem;
  text-align: center;
  font-family: Corbel;
  z-index: 1;
}

.page-content-landing a{
  text-decoration: none;
  background-color: #fff;
  color: #000f52;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  border-radius: 50px; 
  display: block;
  text-align: center;
  z-index: 1;
}

.page-content-landing-nav{
  width: 100%;
  background-color: #000f52;
  height: 5rem;
  position: absolute;
  top: 0;
  z-index: 1;
}

.page-content-landing-content{
  z-index: 0;
  opacity: 0.4;
  background-color: #000f52;
  position: absolute;
  width: 100%;
  height: 100vh;
  bottom: 0;
  background-image: url(../img/Hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  mix-blend-mode: exclusion;
}

.page-content-landing-nav-square{
  left: 40px;
  width: 0;
  height: 0;
  border-top: 302px solid transparent;
  border-left: 244px solid #000f52;
  border-bottom: 319px solid transparent;
  position: absolute;
  top: -239px;
  transform: rotate(67deg);
}

.page-content-landing-nav-backsquare{
  left: -22px;
  width: 0;
  height: 0;
  border-top: 302px solid transparent;
  border-left: 244px solid #000f52;
  border-bottom: 319px solid transparent;
  position: absolute;
  top: -244px;
  opacity: 0.5;
  transform: rotate(97deg);
}

.footer{
  position: absolute;
  font-size: 1rem;
  color: #fff;
  bottom: 1rem;
  left: 50%;
  transform: translatex(-50%);
  opacity: 0.5;
}